body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f9f8f8;
  text-align: center;
}

header {
  background-color: #2a9d41;
  padding: 10px;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

nav ul li a:hover {
  color: rgb(129, 113, 113);
}

.recipes {
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 300px;
}

.recipes div {
  width: 200px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}

.imglar {
  width: 200px;
  height: 150px;
  border-radius: 7px;
}

footer {
  background-color: RGB(218, 165, 32);
  color: white;
  padding: 10px;
  margin-top: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  font-size: small;
  height: 155px;
  justify-content: space-evenly;
}

footer nav a {
  text-decoration: none;
  display: flex;
  margin: 10px;
  color: white;
}

.logo img {
  mix-blend-mode: multiply;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 50px 50px;
}

.navA {
  width: 30px;
  height: 30px;
}

.but a {
  text-decoration: none;
  color: black;
}

.but {
  border: 1px solid grey;
  border-radius: 10px;
  background: #43d73e;
  padding: 10px;
  margin-top: 10px;
  transition: 0.2s;
  width: 80px;
}

.but:hover {
  transform: scaleX(1.2);
}

.logotop {
  mix-blend-mode: multiply;
}

.logotop img {
  width: 90px;
  height: 90px;
}

.a {
  border: none;
  padding: 7px;
  background: #159fef;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
